.about-hero__container {
  display: flex;
  justify-content: space-between;
  padding-top: 192px;
  page-break-inside: 132px;
}

.about-hero__wrap {
  margin-right: 10px;
  max-width: 600px;
  width: 100%;
}

.about-hero__title {
  margin-bottom: 48px;
}

.about-hero__text-bold {
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-dark);
}

.about-hero__text {
  margin-bottom: 60px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
}

.about-hero__box .btn-uncolor {
  margin-right: 24px;
}

.about-more__container {
  display: flex;
  justify-content: space-between;
  padding-top: 132px;
  padding-bottom: 90px;
}

.about-more__wrap {
  padding-top: 96px;
  padding-left: 133px;
}

.about-more__list {
  width: 100%;
}

.about-more__item {
  display: flex;
  align-items: center;
}

.about-more__item:not(:last-child) {
  margin-bottom: 20px;
}

.about-more__span-bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: 1px;
  color: var(--color-orange);
}

.about-more__span {
  padding-left: 16px;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-dark);
}

.core__container {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}

.core__title {
  margin-bottom: 60px;
}

.core__list {
  display: flex;
  justify-content: space-between;
}

.core__item {
  position: relative;
  padding-top: 72px;
  max-width: 240px;
  height: auto;
  background-position: center top;
  background-repeat: no-repeat;
}

.core__item:not(:last-child) {
  margin-right: 90px;
}

.core__item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 0;
  right: -45px;
  width: 1px;
  height: 162px;
  background: linear-gradient(270.01deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
}

.core1 {
  background-image: url('../images/about_us/icons/approach.svg');
}

.core2 {
  background-image: url('../images/about_us/icons/ic-chat.svg');
}

.core3 {
  background-image: url('../images/about_us/icons/efficiency.svg');
}

.core4 {
  background-image: url('../images/about_us/icons/ic-calendar.svg');
}

.core__sub {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--color-dark);
}

.core__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--color-light-gray);
}

.main-directions__container {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}

.main-directions__title {
  margin-bottom: 60px;
}

.main-directions__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-directions__item {
  position: relative;
  margin-bottom: 30px;
  max-width: 390px;
  border: 1px solid #E5E8ED;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
  transition: box-shadow .4s ease-in-out;
}

.main-directions__item:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.main-directions__img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.main-directions__wrap {
  padding: 24px;
  padding-bottom: 44px;
}

.main-directions__text-direc {
  margin: 0 auto;
  max-width: 242px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--color-gray);
}

.main-directions__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-light-gray);
}

.main-directions__link {
  position: absolute;
  bottom: 24px;
  left: 24px;
  padding-right: 32px;
  height: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-dark);
  background-image: url('../images/icons/arrow_right_title_color.svg');
  background-position: right center;
  background-repeat: no-repeat;
  transition: color .4s ease-in-out;
}

.main-directions__item:hover .main-directions__link {
  color: var(--color-orange);
}

.main-directions__link.focus-visible {
  color: var(--color-orange);
}

.direction05 {
  padding-top: 164px;
  padding-bottom: 196px;
  background: #F4F5F7;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.studying-proc__container {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 90px;
}

.studying-proc__title {
  margin-bottom: 60px;
}

.studying-proc__wrap {
  margin-right: 10px;
  max-width: 495px;
}

.studying-proc__list {
  padding-left: 40px;
}

.studying-proc__item {
  position: relative;
}

.studying-proc__item::before {
  content: '';
  position: absolute;
  top: 15px;
  left: -37px;
  width: 1px;
  height: 125px;
  background-color: var(--color-light);
  opacity: 0.5;
}

.studying-proc__item:not(:last-child) {
  margin-bottom: 32px;
}

.studying-proc__span {
  position: relative;
  display: block;
  margin-bottom: 2px;
  font-weight: 900;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-light-gray);
}

.studying-proc__span::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -40px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-orange);
}

.studying-proc__sub {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-dark);
}

.studying-proc__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-light-gray);
}

.tutors__container {
  padding-top: 90px;
  padding-bottom: 60px;
  text-align: center;
}

.tutors__title {
  margin-bottom: 60px;
}

.tutor__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tutor__item {
  margin-bottom: 60px;
  max-width: 285px;
  width: 25%;
}

.tutor__wrap_img {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  max-height: 340px;
  background-color: var(--color-yellow);
  border-radius: 4px;
}

.tutor__item .team__img {
  max-width: 245px;
  max-height: 320px;
}

.tutor__item .team__info {
  margin-bottom: 16px;
}