.blog-info__container {
  display: flex;
  padding-top: 152px;
}

.blog-info__hero {
  margin-right: 78px;
  max-width: 810px;
}

.blog-info__box {
  margin-bottom: 12px;
}

.blog-info__span {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  background-position: left;
  background-repeat: no-repeat;
}

.blog-info__hero .article {
  position: relative;
  margin-right: 20px;
  padding-left: 24px;
  color: var(--color-gray);
}

.blog-info__hero .article::after {
  content: '';
  position: absolute;
  top: 5px;
  right: -13px;
  width: 1px;
  height: 16px;
  background-color: var(--color-light-gray);
}

.blog-info__span:last-child {
  color: var(--color-orange);
}

.blog-info__title {
  margin-bottom: 26px;
}

.blog-info__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-info__social {
  display: flex;
  align-items: center;
}

.blog-info__social_span {
  display: inline-block;
  margin-right: 12px;
}

.blog-info .course-curator__item:not(:last-child) {
  margin-right: 12px;
}

.blog-info__img {
  margin-bottom: 60px;
  width: 100%;
}

.blog-info__text {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
}

.blog-info .text1, 
.blog-info .text4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-dark);
}

.blog-info .text3 {
  margin-bottom: 48px;
}

.blog-info .text4 {
  margin-bottom: 0;
}

.blog-info__wrap_text {
  display: flex;
  margin-bottom: 48px;
}

.blog-info__wrap_img {
  margin-right: 30px;
  width: 28px;
  height: 20px;
}

.blog-info .about-course__list {
  margin-bottom: 24px;
}

.blog-info .text6 {
  margin-bottom: 60px;
}

.blog-info__links {
  margin-bottom: 0;
}

.blog-info__item {
  width: auto;
  height: auto;
  font-size: 14px;
  line-height: 21px;
}

.blog-info__link {
  display: inline-block;
  padding: 6px 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-light-gray);
  border: 1px solid var(--light-light-gray);
  box-sizing: border-box;
  border-radius: 4px;
  transition: color .4s ease-in-out, background-color .4s ease-in-out;
}

.blog-info__item:not(:last-child) {
  margin-right: 12px;
}

.blog-info__link:hover {
  color: var(--color-for-dark);
  background-color: var(--color-orange);
}

.blog-info__link.focus-visible {
  border-color: var(--color-orange);
  color: var(--color-orange);
}

.may-also__wrapper.journal__blog {
  display: flex;
  flex-wrap: nowrap;    
  flex-direction: row;
  gap: 0;
  margin-bottom: 80px;
  text-align: left;
}

.may-also__swiper .swiper-slide {
  padding-bottom: 42px;
  max-width: 390px;
  height: auto;
  cursor: pointer;
}

.may-also__swiper .item4 .posts__img {
  height: 300px;
}

.may-also__swiper .swiper-slide:hover .posts__link {
  color: var(--color-orange);
}

.may-also .check-courses__box {
  text-align: center;
}

.aside {
  position: relative;
}

.aside .online__input {
  margin-bottom: 60px;
}

.aside .online__search {
  top: 11px;
}

.aside__list_item:not(:last-child) {
  margin-bottom: 60px;
}

.aside__subtitle {
  margin-bottom: 24px;
}

.aside__wrap {
  display: flex;
}

.aside__img {
  margin-right: 20px;
  width: auto;
}

.aside .featured__name {
  margin-bottom: 4px;
  font-weight: 700;
}

.aside__position {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-light-gray);
}

.aside__social {
  display: flex;
}

.aside__item:not(:last-child) {
  margin-right: 12px;
}

.aside__link svg path {
  fill: var(--color-light-gray);
  transition: fill .4s ease-in-out;
}

.aside__link:hover svg path,
.aside__link.focus-visible svg path {
  fill: var(--color-orange);
}

.aside__wrap:not(:last-child) {
  margin-bottom: 24px;
}

.aside__date {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-light-gray);
}

.aside__sub {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-dark);
  transition: color .4s ease-in-out;
}

.aside__sub:hover {
  color: var(--color-orange);
}

.aside__tag {
  margin-bottom: 31px;
}

.aside .blog-info__links {
  flex-wrap: wrap;
}

.aside .blog-info__item {
  margin-bottom: 12px;
}

.aside .blog-info__item:not(:last-child) {
  margin-right: 0;
}

.aside .blog-info__item:not(:nth-child(3n)) {
  margin-right: 12px;
}