.event__subtitle {
  color: var(--color-orange);
  text-transform: uppercase;
}

.talk__wrap {
  max-width: 600px;
}

.talk__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-orange);
  letter-spacing: 1px;
  text-decoration-line: underline;
  text-transform: uppercase;
  transition: opacity .4s ease-in-out;
}

.talk__link:hover {
  opacity: 0.6;
}

.talk__link.focus-visible {
  color: var(--color-orange);
}

.speaker__list {
  margin-bottom: 40px;
}

.speaker__item {
  filter: grayscale(100%);
  transition: filter .4s ease-in-out;
}

.speaker__item:hover,
.speaker__item.focus-visible {
  filter: grayscale(0);
}

.benefit-from__container {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-bottom: 180px;
}

.benefit-from__left {
  margin-right: 40px;
  max-width: 495px;
}

.benefit-from__right {
  padding-top: 32px;
  max-width: 600px;
  width: 100%;
}

.miss-events__container {
  display: flex;
  justify-content: space-between;
  /* padding-top: 90px; */
  padding: 60px 105px 60px 103px;
  height: auto;
  background-image: url('../images/page_event/event_subsc_back.png');
  background-position: center;
  background-repeat: no-repeat;
}

.miss-events__wrap {
  max-width: 600px;
  width: 100%;
}

.miss-events__title {
  margin-bottom: 48px;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  color: var(--color-dark);
}

.miss-events__label {
  display: flex;
  margin-bottom: 24px;
}

.miss-events__input {
  margin-right: 24px;
  padding: 13px 16px;
  max-width: 422px;
  width: 70%;
  background: var(--color-for-dark);
  border: 1px solid var(--light-light-gray);
  box-sizing: border-box;
  border-radius: 4px;
}

.miss-events__input.focus-visible {
  border-color: var(--color-orange);
}

.miss-events__input::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-light);
}

.miss-events__checkbox {
  cursor: pointer;
}

.miss-events__check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.miss-events__check_text {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
}

.miss-events__check_text::before {
  content: '';
  display: inline-block;
  margin-right: 12px;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-orange);
  border-radius: 3px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.miss-events__checkbox>input:checked+span::before {
  border-color: var(--color-orange);
  background-color: var(--color-orange);
  background-image: url('../images/icons/check.svg');
}

.request__container {
  display: flex;
  justify-content: space-between;
}

.request__wrap {
  max-width: 510px;
}

.request__form {
  margin-bottom: 24px;
  max-width: 495px;
}

.request__span {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
}

.request__img {
  height: 100%;
}

.interested {
  background-color: #F4F5F7;
}

.interested__container {
  padding-top: 100px;
  padding-bottom: 180px;
}

.interested .team__wrap {
  text-align: left;
}

.interested__swiper {
  margin-bottom: 80px;
  width: 1230px;
  height: 100%;
}

.interested .changed .events__list {
  flex-wrap: nowrap;

}

.interested .lectures__item {
  justify-content: unset;
}

.interested .lectures__item:not(:last-child) {
  margin-right: 0;
  margin-bottom: 0;
}

.interested__list {
  margin-bottom: 0;
}

.interested__container .swiper-wrapper .swiper-slide {
  width: 390px;
  max-width: 390px;
  margin-right: 0;
}
