.events {
  height: auto;
  background-image: url('../images/events_back.png');
  background-position: center;
  background-repeat: no-repeat;
}

.events__container {
  padding-top: 152px;
  text-align: center;
}

.events__title {
  margin-bottom: 60px;
}

.events__choice__wrap {
  display: flex;
  margin-bottom: 60px;
}

.events__choice_list {
  display: flex;
  flex-grow: 1;
  margin-right: 40px;
}

.events__choice_item {
  display: flex;
  align-items: center;
  width: 100%;
}

.events-item01 {
  max-width: 279px;
  width: 100%;
}

.events-item02 {
  max-width: 224px;
}

.events-item03 {
  max-width: 233px;
}

.events-item04 {
  max-width: 282px;
}

.events__choice_item:not(:last-child) {
  margin-right: 39px;
}

.events__choice-what {
  display: inline-block;
  margin-right: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
}

.events__select,
.events__option {
  padding: 11px 16px 12px 16px;
  max-width: 160px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-gray);
  background: var(--color-for-dark);
  border: 1px solid var(--light-light-gray);
  box-sizing: border-box;
  border-radius: 4px;
}

.events__info {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-light-gray);
}

.events__input {
  padding: 11px 16px 12px 16px;
  background: var(--color-for-dark);
  border: 1px solid var(--light-light-gray);
  box-sizing: border-box;
  border-radius: 4px;
}

.events-show {
  margin-right: 12px;
  max-width: 72px;
}

.events-show::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-gray);
}

.events-search {
  max-width: 282px;
  width: 100%;
}

.events-search::placeholder {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-light);
}

.events__wrap_btns {
  align-self: center;
}

.events__btn {
  padding: 0;
  border: none;
}

.events__btn.active svg path {
  fill: var(--color-orange);
}

.events__item {
  border: 1px solid #E5E8ED;
}

.events__item:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.events__box_pages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.events__btns_list {
  display: flex;
  justify-content: center;
  margin-right: 15px;
}

.events__btns_item:not(:last-child) {
  margin-right: 20px;
}

.events__page {
  width: 26px;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
  border: 1px solid transparent;
  border-radius: 50%;
  transition: border-color .4s ease-in-out;
}

.events__page.active {
  color: var(--color-orange);
}

.events__page:hover {
  border-color: var(--color-orange);
}

.events__page.focus-visible {
  color: var(--color-orange);
  border-color: var(--color-orange);
}

.events-prev {
  margin-right: 15px;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-image: url('../images/icons/arrow_left_black.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .4s ease-in-out, background-color .4s ease-in-out;
}

.events-prev:hover {
  background-image: url('../images/icons/arrow_left_white.svg');
  background-color: var(--color-orange);
}

.events-prev.focus-visible {
  background-image: url('../images/icons/arrow_left_white.svg');
  background-color: var(--color-orange);
}

.events-prev:disabled, .events-prev:hover:disabled {
  background-image: url('../images/icons/arrow_left_black.svg');
  background-color: unset;
  opacity: 0.5;
  cursor: unset;
}

.events-next {
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-image: url('../images/icons/arrow_right_black.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .4s ease-in-out, background-color .4s ease-in-out;
}

.events-next:hover {
  background-image: url('../images/icons/arrow_right_white.svg');
  background-color: var(--color-orange);
}

.events-next.focus-visible {
  background-image: url('../images/icons/arrow_right_white.svg');
  background-color: var(--color-orange);
}

.events-next:disabled, .events-next:hover:disabled {
  background-image: url('../images/icons/arrow_right_black.svg');
  background-color: unset;
  opacity: 0.5;
  cursor: unset;
}

.changed .events__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.changed .events__item {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  max-width: 390px;
  width: 100%;
  max-height: 323px;
  height: 323px;
}

.changed .lectures__btn {
  width: 100%;
}

.changed .lectures__date {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  color: var(--color-orange);
}

.changed .lectures__month {
  position: absolute;
  top: 24px;
  left: 65px;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  color: var(--color-orange);
}

.changed .lectures__time {
  margin-bottom: 20px;
}

.changed .lectures__box {
  margin-bottom: auto;
  max-width: 100%;
}

.changed .lectures__info {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 150%;
}