@media(max-width: 1224px) {
  .title {
    font-size: 44px;
    line-height: 58px;
  }

  .header__item:not(:last-child) {
    margin-right: 30px;
  } 

  .hero__left {
    margin-right: 0;
    max-width: 50%;
    width: 100%;
  }

  .about__container {
    align-items: center;
    padding-top: 100px;
    padding-bottom: 45px;
  }

  .about__img {
    width: 100%;
    max-width: 55%;
    height: unset;
  }

  .about__wrap {
    max-width: 50%;
    width: 37%;
  }

  .featured__container {
    padding-top: 45px;
    padding-bottom: 30px;
  }

  .lectures__item {
    padding: 22px 30px 24px 30px;
  }

  .lectures__box {
    max-width: 500px;
  }

  .sertificate__picture {
    width: 55%;
  }

  .sertificate__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .team__container {
    padding-top: 100px;
    padding-bottom: 45px;
  }

  .say__swiper .swiper-slide {
    padding: 44px 85px;
    padding-bottom: 120px;
  }

  .say__box {
    bottom: 44px;
  }

  .posts__item {
    padding-bottom: 30px;
  }

  .posts__link {
    position: absolute;
    bottom: 0;
  }

  .subscribe__container {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}


@media (max-width: 1024px) {
  .title {
    font-size: 42px;
    line-height: 56px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 22px;
  }

  body.stop-scrolling {
    height: 100%;
    overflow-y: hidden;
  }

  .header__nav {
    position: absolute;
    left: -1000px;
    transition: left .4s ease-in-out;
  }

  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    opacity: 1;
    z-index: 10;
  }

  .menu {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--color-dark);
    transition: transform .4s ease-in-out;
  }

  .menu2 {
    width: 20px;
  }

  .menu3 {
    width: 10px;
  }

  .menu:not(:last-child) {
    margin-bottom: 5px;
  }

  .header-burger.active .menu1 {
    width: 25px;
    margin-bottom: 0;
    transform: rotate(-45deg) translate(-8px, -2px);
  }

  .header-burger.active .menu2 {
    transform: scale(0);
  }

  .header-burger.active .menu3 {
    width: 25px;
    margin-bottom: 0;
    transform: rotate(45deg) translate(-8px, 2px);
  }

  .header__nav.active {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 40px;
    padding-top: 75px;
    width: 48%;
    background-color: rgba(255, 63, 58, 1);
    z-index: 5;
    opacity: 1;
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .header__link {
    color: var(--color-for-dark);
  }

  .header__link:hover {
    color: var(--color-gray);
  }

  .header__link.focus-visible {
    color: var(--color-gray);
  }

  /* ------hero----- */
  .btn {
    padding: 0px 30px;
    font-size: 14px;
    line-height: 46px;
  }

  .hero {
    height: 100%;
  }

  .hero__container {
    padding-top: 150px;
  }

  .hero__play svg {
    width: 62px;
    height: 62px;
  }

  .hero__wrap {
    margin-bottom: 120px;
  }

  .hero__title {
    font-size: 48px;
    line-height: 63px;
  }

  .hero__img {
    width: 45%;
    height: 100%;
  }

  .hero__item:not(:last-child) {
    position: relative;
    margin-right: auto;
  }

  .hero__span {
    font-size: 30px;
    line-height: 58px;
  }

  .hero__text {
    font-size: 14px;
    line-height: 20px;
  }

  .hero__list {
    justify-content: space-between;
  }

  .hero__item:not(:last-child)::before {
    right: -20px;
  }

  /* -----about---- */
  .about__img {
    max-width: 45%;
    height: 100%;
  }
  
  .about__wrap {
    width: 100%;
  }

  .featured__name {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 28px;
  }

  .featured__price {
    font-size: 16px;
    line-height: 25px;
  }

  .featured__teacher {
    font-size: 14px;
    line-height: 22px;
  }

  .featured__img {
    width: 50%;
  }

  .featured__box {
    padding: 22px;
  }

  .featured__direct {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 19px;
  }

  .featured__price::after {
    top: 4px;
    left: 47px;
  }

  .benefits__container {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .benefits__img {
    max-width: 47%;
    height: 100%;
  }

  .benefits__info {
    margin-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .benefits__content_title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 38px;
  }
  
  .benefits__text {
    font-size: 14px;
    line-height: 24px;
  } 

  .lectures__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .lectures__item {
    padding: 17px 25px 19px 25px;
  }

  .lectures__box {
    max-width: 350px;
  }
  
  .lectures__date {
    font-size: 44px;
    line-height: 58px;
  }

  .lectures__month {
    font-size: 18px;
    line-height: 28px;
  }

  .lectures__time {
    font-size: 14px;
    line-height: 24px;
  }

  .lectures__info {
    font-size: 18px;
    line-height: 28px;
  }

  .lectures__online {
    font-size: 14px;
    line-height: 24px;
  }

  .lectures__btn {
    padding: 0 28px;
    font-size: 12px;
    line-height: 42px;
  }

  .sertificate__wrap {
    max-width: 40%;
  }

  .sertificate__title {
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 52px;
  }

  .sertificate__item:not(:last-child) {
    margin-right: 20px;
  }

  .team__container {
    padding-top: 50px;
  }

  .team__wrap {
    margin-bottom: 40px;
  }

  .team__name {
    font-size: 18px;
    line-height: 28px;
  }

  .team__position {
    font-size: 14px;
    line-height: 24px;
  }

  .say__container {
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .say__title {
    margin-bottom: 40px;
  }

  .say__swiper .swiper-slide {
    padding: 40px 80px;
    padding-bottom: 110px;
  }

  .say__img {
    margin-right: 25px;
    width: 26px;
    height: 18px;
  }

  .say__text {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 28px;
  }

  .say__box {
    bottom: 28px;
  }

  .say__name {
    font-size: 14px;
    line-height: 24px;
  }

  .say__position {
    font-size: 12px;
    line-height: 19px;
  }

  .posts__container {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  .featured__wrap {
    margin-bottom: 40px;
  }

  .posts__item:not(:last-child) {
    margin-right: 15px;
  }

  .posts__view {
    font-size: 12px;
    line-height: 19px;
  }

  .posts__wrap_list {
    flex-direction: column;
    height: 57px;
    font-size: 12px;
    line-height: 19px;
  } 

  .posts__more:not(:last-child) {
    margin-right: 10px;
  }

  .posts__more:not(:last-child)::after {
    background-color: transparent;
  }

  .posts__list_title {
    font-size: 18px;
    line-height: 28px;
  }

  .posts__text {
    font-size: 14px;
    line-height: 24px;
  }

  .subscribe__container {
    padding-top: 45px;
    padding-bottom: 60px;
  }

  .subscribe__title {
    margin-bottom: 40px;
  }

  .subscribe__input {
    padding: 11px 16px;
  }

  .footer__list {
    flex-wrap: wrap;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 20px;
  }

}

@media (max-width: 768px) {
  .title {
    margin-bottom: 35px;
    font-size: 38px;
    line-height: 52px;
  }

  .subtitle {
    font-size: 12px;
    line-height: 20px;
  }

  .btn {
    padding: 0px 20px;
    font-size: 12px;
    line-height: 44px;
  }

  .header__nav.active {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 40px;
    padding-top: 75px;
    width: 100%;
    height: 450px;
    z-index: 5;
    opacity: 1;
  }

  .hero__wrap {
    position: relative;
    margin-bottom: 100px;
  }

  .hero__title {
    position: absolute;
    font-size: 40px;
    line-height: 55px;
  }

  .hero__wrap-btn {
    position: absolute;
    top: 100%;
  }

  .hero__list {
    flex-direction: column;
  }

  .hero__item:not(:last-child)::before {
    background-color:transparent;
  } 

  .about__item {
    padding-left: 28px;
    font-size: 14px;
    line-height: 24px;
  }

  .featured__list {
    justify-content: center;
  }

  .featured__item {
    max-width: none;
    width: 100%;
  }

  .featured__img {
    width: 242px;
  } 

  .benefits__btn {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
  }

  .benefits__info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .benefits__content_title {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 34px;
  } 

  .lectures__box {
    max-width: 45%;
  }

  .benefits__text,
  .lectures__time,
  .lectures__online,
  .say__name {
    font-size: 12px;
    line-height: 22px;
  }

  .lectures__info,
  .lectures__month {
    font-size: 14px;
    line-height: 24px;
  }

  .lectures__date {
    font-size: 40px;
    line-height: 54px;
  }

  .lectures__btn {
    padding: 0 24px;
    font-size: 10px;
    line-height: 40px;
  }

  .team__container .swiper-slide {
    max-width: 100%;
    width: 100%;
  }

  .say__text {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 24px;
  }

  .say__swiper .swiper-slide {
    padding: 30px 50px;
    padding-bottom: 110px;
  }

  .say__box_img {
    width: 52px;
    height: 52px;
  }

  .say__position {
    font-size: 10px;
    line-height: 15px;
  }

  .say .swiper-button-prev {
    left: 0;
  }

  .say .swiper-button-next {
    right: 0;
  }

  .posts__list {
    flex-direction: column;
  }

  .posts__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  } 
  
  .posts__item {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .posts__view {
    left: 21%;
  }

  .posts__img {
    width: auto;
  }

  .posts__wrap_list {
    flex-direction: row;
    height: auto;
    font-size: 12px;
    line-height: 19px;
  }

  .posts__more:not(:last-child)::after {
    background-color: var(--color-light-gray);
  }

  .posts__more:not(:last-child) {
    margin-right: 20px;
  } 

  .posts__list_title {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }

  .posts__text {
    text-align: left;
  }

  .posts__link {
    display: block;
    text-align: left;
  }

  .subscribe__input {
    padding: 10px 16px;
    font-size: 14px;
    line-height: 24px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 40px;
  }

}

@media (max-width: 575px) {
  

}

@media (max-width: 320px) {
  .one {
    margin-left: 0;
    margin-top: 0;
    width: 288px;
  }

  .best__container {
    padding-bottom: 50px;
  }

  .best__btn {
    padding: 7px 17px;
  }

  .swiper-slide .best__wrap {
    margin-bottom: 10px;
    padding-top: 16px;
    height: auto;
  }

  .swiper2 .swiper-slide {
    width: 99%;
  }

  .swiper-slide .one {
    margin-top: -16px;
  }

  .design__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer__title {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 20px;
  } 

  .footer__link {
    font-size: 12px;
  }

  .social .footer__item:not(:last-child) {
    margin-right: 15px;
  }

  .footer__span {
    font-size: 14px;
  }
}