@media(max-width: 1224px) {
  .title {
    font-size: 44px;
    line-height: 58px;
  }

  .header__item:not(:last-child) {
    margin-right: 30px;
  } 

  .hero__left {
    margin-right: 0;
    max-width: 50%;
    width: 100%;
  }

  .about__container {
    align-items: center;
    padding-top: 100px;
    padding-bottom: 45px;
  }

  .about__img {
    width: 100%;
    max-width: 55%;
    height: unset;
  }

  .about__wrap {
    max-width: 50%;
    width: 37%;
  }

  .featured__container {
    padding-top: 45px;
    padding-bottom: 30px;
  }

  .lectures__item {
    padding: 22px 30px 24px 30px;
  }

  .lectures__box {
    max-width: 500px;
  }

  .sertificate__picture {
    width: 55%;
  }

  .sertificate__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .team__container {
    padding-top: 100px;
    padding-bottom: 45px;
  }

  .say__swiper .swiper-slide {
    padding: 44px 85px;
    padding-bottom: 120px;
  }

  .say__box {
    bottom: 44px;
  }

  .posts__item {
    padding-bottom: 30px;
  }

  .posts__link {
    position: absolute;
    bottom: 0;
  }

  .subscribe__container {
    padding-top: 80px;
    padding-bottom: 120px;
  }

  /* ------pge2-------- */
  .online__input {
    width: auto;
  }

  .online__btn {
    padding: 10px 15px;
  }

  .about-course__left {
    padding-right: 10px;
  }

  .course-curator__img {
    width: 45%;
  }

  .course-curator__wrap {
    padding-left: 30px;
  }

  .learning-process__num::after {
    max-width: 150px;
  }

  .discount__container {
    padding-left: 35px;
    padding-right: 35px;
  }

  .discount__btn {
    width: 50%;
  }

  .for-whom__right {
    width: 45%;
  }

  .course-program__left {
    width: 50%;
  }

  .course-program__img {
    width: 30%;
    height: 30%;
  }

  .course-registration__img {
    width: 45%;
    height: 45%;
  }

  .featured__box {
    padding: 15px;
  }
}

@media (max-width: 1024px) {
  .title {
    font-size: 42px;
    line-height: 56px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 22px;
  }

  body.stop-scrolling {
    height: 100%;
    overflow-y: hidden;
  }

  .header__nav {
    position: absolute;
    left: -1000px;
    transition: left .4s ease-in-out;
  }

  .header__burger {
    position: relative;
    display: block;
    width: 30px;
    opacity: 1;
    z-index: 10;
  }

  .menu {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--color-dark);
    transition: transform .4s ease-in-out;
  }

  .menu2 {
    width: 20px;
  }

  .menu3 {
    width: 10px;
  }

  .menu:not(:last-child) {
    margin-bottom: 5px;
  }

  .header-burger.active .menu1 {
    width: 25px;
    margin-bottom: 0;
    transform: rotate(-45deg) translate(-8px, -2px);
  }

  .header-burger.active .menu2 {
    transform: scale(0);
  }

  .header-burger.active .menu3 {
    width: 25px;
    margin-bottom: 0;
    transform: rotate(45deg) translate(-8px, 2px);
  }

  .header__nav.active {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 40px;
    padding-top: 75px;
    width: 48%;
    background-color: rgba(255, 63, 58, 1);
    z-index: 5;
    opacity: 1;
  }

  .header__list {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .header__link {
    color: var(--color-for-dark);
  }

  .header__link:hover {
    color: var(--color-gray);
  }

  .header__link.focus-visible {
    color: var(--color-gray);
  }

  /* ------hero----- */
  .btn {
    padding: 0px 30px;
    font-size: 14px;
    line-height: 46px;
  }

  .hero {
    height: 100%;
  }

  .hero__container {
    padding-top: 150px;
  }

  .hero__play svg {
    width: 62px;
    height: 62px;
  }

  .hero__wrap {
    margin-bottom: 120px;
  }

  .hero__title {
    font-size: 48px;
    line-height: 63px;
  }

  .hero__img {
    width: 45%;
    height: 100%;
  }

  .hero__item:not(:last-child) {
    position: relative;
    margin-right: auto;
  }

  .hero__span {
    font-size: 30px;
    line-height: 58px;
  }

  .hero__text {
    font-size: 14px;
    line-height: 20px;
  }

  .hero__list {
    justify-content: space-between;
  }

  .hero__item:not(:last-child)::before {
    right: -20px;
  }

  /* -----about---- */
  .about__img {
    max-width: 45%;
    height: 100%;
  }
  
  .about__wrap {
    width: 100%;
  }

  .featured__name {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 28px;
  }

  .featured__price {
    font-size: 16px;
    line-height: 25px;
  }

  .featured__teacher {
    font-size: 14px;
    line-height: 22px;
  }

  .featured__img {
    width: 50%;
  }

  .featured__box {
    padding: 22px;
  }

  .featured__direct {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 19px;
  }

  .featured__price::after {
    top: 4px;
    left: 47px;
  }

  .benefits__container {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .benefits__img {
    max-width: 47%;
    height: 100%;
  }

  .benefits__info {
    margin-right: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .benefits__content_title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 38px;
  }
  
  .benefits__text {
    font-size: 14px;
    line-height: 24px;
  } 

  .lectures__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .lectures__item {
    padding: 17px 25px 19px 25px;
  }

  .lectures__box {
    max-width: 350px;
  }
  
  .lectures__date {
    font-size: 44px;
    line-height: 58px;
  }

  .lectures__month {
    font-size: 18px;
    line-height: 28px;
  }

  .lectures__time {
    font-size: 14px;
    line-height: 24px;
  }

  .lectures__info {
    font-size: 18px;
    line-height: 28px;
  }

  .lectures__online {
    font-size: 14px;
    line-height: 24px;
  }

  .lectures__btn {
    padding: 0 28px;
    font-size: 12px;
    line-height: 42px;
  }

  .sertificate__wrap {
    max-width: 40%;
  }

  .sertificate__title {
    margin-bottom: 35px;
    font-size: 40px;
    line-height: 52px;
  }

  .sertificate__item:not(:last-child) {
    margin-right: 20px;
  }

  .team__container {
    padding-top: 50px;
  }

  .team__wrap {
    margin-bottom: 40px;
  }

  .team__name {
    font-size: 18px;
    line-height: 28px;
  }

  .team__position {
    font-size: 14px;
    line-height: 24px;
  }

  .say__container {
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .say__title {
    margin-bottom: 40px;
  }

  .say__swiper .swiper-slide {
    padding: 40px 80px;
    padding-bottom: 110px;
  }

  .say__img {
    margin-right: 25px;
    width: 26px;
    height: 18px;
  }

  .say__text {
    margin-bottom: 18px;
    font-size: 18px;
    line-height: 28px;
  }

  .say__box {
    bottom: 28px;
  }

  .say__name {
    font-size: 14px;
    line-height: 24px;
  }

  .say__position {
    font-size: 12px;
    line-height: 19px;
  }

  .posts__container {
    padding-top: 60px;
    padding-bottom: 90px;
  }

  .featured__wrap {
    margin-bottom: 40px;
  }

  .posts__item:not(:last-child) {
    margin-right: 15px;
  }

  .posts__view {
    font-size: 12px;
    line-height: 19px;
  }

  .posts__wrap_list {
    flex-direction: column;
    height: 57px;
    font-size: 12px;
    line-height: 19px;
  } 

  .posts__more:not(:last-child) {
    margin-right: 10px;
  }

  .posts__more:not(:last-child)::after {
    background-color: transparent;
  }

  .posts__list_title {
    font-size: 18px;
    line-height: 28px;
  }

  .posts__text {
    font-size: 14px;
    line-height: 24px;
  }

  .subscribe__container {
    padding-top: 45px;
    padding-bottom: 60px;
  }

  .subscribe__title {
    margin-bottom: 40px;
  }

  .subscribe__input {
    padding: 11px 16px;
  }

  .footer__list {
    flex-wrap: wrap;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 20px;
  }

  /* -------page2------ */
  .header__link.active {
    color: var(--color-for-dark);
    text-decoration: underline;
  }

  .online__nav {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .online__nav_list {
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .online__btn {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
  }

  .online__search {
    right: 36%;
  }

  .online__item {
    width: 48%;
  }

  .online__item:nth-child(2n+1) {
    margin-right: 20px;
  }

  .page2-sertificate__container {
    padding-top: 153px;
    padding-bottom: 83px;
  }

  .course-hero__container {
    padding-bottom: 100px;
  }

  .about-course__container {
    /* flex-direction: column; */
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about-course__right {
    position: relative;
    padding: 20px 15px;
  }

  .about-course__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 24px;
  }

  .course-curator__container {
    padding-bottom: 45px;
  }

  .course-curator__img {
    width: 35%;
    height: 35%;
  }

  .learning-process__container {
    padding-top: 45px;
    padding-bottom: 100px;
  }

  .learning-process__item:not(:last-child) {
    margin-right: 15px;
  } 

  .learning-process__num::after {
    max-width: 80px;
  }

  .learning-process__item_title {
    font-size: 18px;
    line-height: 28px;
  }

  .learning-process__text {
    font-size: 14px;
    line-height: 24px;
  }

  .discount__form {
    flex-direction: column;
  }

  .discount__form_list {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .discount__btn {
    align-self: center;
    width: 30%;
  }

  .for-whom__container {
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .for-whom__right {
    width: 100%;
  }

  .course-program__left {
    width: 65%;
  }

  .course-registration__btn {
    width: 100%;
  }

  .check-courses__container .swiper-slide {
    height: 155px;
  }

  .check-courses__container .featured__box {
    padding: 15px;
  }

  .check-courses__container .featured__img {
    width: 40%;
  }

  .check-courses__container .featured__name {
    font-size: 16px;
    line-height: 26px;
  }

  .check-courses__container .featured__teacher {
    font-size: 12px;
    line-height: 20px;
  }

  .events__choice__wrap {
    flex-direction: column;
  }

  .events__choice_list {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .events__choice_item:not(:last-child) {
    margin-right: 19px;
  }

  .events__choice_item {
    flex-direction: column;
  }

  .events__choice-what {
    margin-bottom: 4px;
  }

  .events-item04 {
    align-self: center;
  }

  .changed .events__list {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 35px;
    font-size: 38px;
    line-height: 52px;
  }

  .subtitle {
    font-size: 12px;
    line-height: 20px;
  }

  .btn {
    padding: 0px 20px;
    font-size: 12px;
    line-height: 44px;
  }

  .header__nav.active {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 40px;
    padding-top: 75px;
    width: 100%;
    height: 450px;
    z-index: 5;
    opacity: 1;
  }

  .hero__wrap {
    position: relative;
    margin-bottom: 100px;
  }

  .hero__title {
    position: absolute;
    font-size: 40px;
    line-height: 55px;
  }

  .hero__wrap-btn {
    position: absolute;
    top: 100%;
  }

  .hero__list {
    flex-direction: column;
  }

  .hero__item:not(:last-child)::before {
    background-color:transparent;
  } 

  .about__item {
    padding-left: 28px;
    font-size: 14px;
    line-height: 24px;
  }

  .featured__list {
    justify-content: center;
  }

  .featured__item {
    max-width: none;
    width: 100%;
  }

  .featured__img {
    width: 242px;
  } 

  .benefits__list {
    margin-bottom: 40px;
  }

  .benefits__btn {
    width: 100%;
    font-size: 10px;
    line-height: 16px;
  }

  .benefits__btn svg {
    width: 14px;
    height: 14px;
  }

  .benefits__info {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .benefits__content_title {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 34px;
  } 

  .lectures__box {
    max-width: 45%;
  }

  .benefits__text,
  .lectures__time,
  .lectures__online,
  .say__name {
    font-size: 12px;
    line-height: 22px;
  }

  .lectures__info,
  .lectures__month {
    font-size: 14px;
    line-height: 24px;
  }

  .lectures__date {
    font-size: 40px;
    line-height: 54px;
  }

  .lectures__btn {
    padding: 0 24px;
    font-size: 10px;
    line-height: 40px;
  }

  .team__container .swiper-slide {
    max-width: 100%;
    width: 100%;
  }

  .say__text {
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 24px;
  }

  .say__swiper .swiper-slide {
    padding: 30px 50px;
    padding-bottom: 110px;
  }

  .say__box_img {
    width: 52px;
    height: 52px;
  }

  .say__position {
    font-size: 10px;
    line-height: 15px;
  }

  .say .swiper-button-prev {
    left: 0;
  }

  .say .swiper-button-next {
    right: 0;
  }

  .posts__list {
    flex-direction: column;
  }

  .posts__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 25px;
  } 
  
  .posts__item {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .posts__view {
    left: 21%;
  }

  .posts__img {
    width: auto;
  }

  .posts__wrap_list {
    flex-direction: row;
    height: auto;
    font-size: 12px;
    line-height: 19px;
  }

  .posts__more:not(:last-child)::after {
    background-color: var(--color-light-gray);
  }

  .posts__more:not(:last-child) {
    margin-right: 20px;
  } 

  .posts__list_title {
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }

  .posts__text {
    text-align: left;
  }

  .posts__link {
    display: block;
    text-align: left;
  }

  .subscribe__input {
    margin-right: 15px;
    padding: 11px 16px;
    font-size: 14px;
    line-height: 24px;
    width: 75%;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 40px;
  }

  .featured__box {
    width: 55%;
  }

  /* -----page2------ */
  .online__container {
    padding-bottom: 60px;
  }

  .online__list {
    margin-bottom: 41px;
  }

  .online__nav_list {
    flex-wrap: wrap;
  }

  .online .featured__box {
    padding: 15px;
    width: 100%;
  }

  .about-course__container {
    flex-direction: column;
    padding-bottom: 45px;
  }

  .about-course__left {
    margin-bottom: 20px;
    padding-right: 0;
    width: 100%;
  }

  .about-course__right {
    max-width: 100%;
    width: 100%;
  }

  .course-wrapper {
    padding-top: 65px;
  }

  .course-curator__container {
    flex-direction: column;
    padding-top: 0;
  }

  .course-curator__img {
    margin-bottom: 20px;
    width: 100%;
  }

  .course-curator__wrap {
    padding-left: 0;
  }

  .learning-process__list {
    flex-direction: column;
  }

  .learning-process__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .learning-process__num::after {
    max-width: 80%;
  }

  .discount__form_list {
    flex-direction: column;
  }

  .discount__form_item {
    max-width: 100%;
  }

  .discount__form_item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .for-whom__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .for-whom__title {
    margin-bottom: 0;
  }

  .course-program__container {
    padding-bottom: 0;
  }

  .course-registration__img {
    width: 35%;
    height: 35%;
  }

  .check-courses__container .swiper-slide {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .check-courses__container .featured__img {
    width: 100%;
  }

  .check-courses__container .featured__box {
    width: 100%;
    padding: 20px;
  }

  .course-wrapper {
    padding-bottom: 65px;
  }
}

@media (max-width: 570px) {
  .title {
    margin-bottom: 25px;
    font-size: 34px;
    line-height: 48px;
  } 

  .subtitle {
    font-size: 10px;
    line-height: 18px;
  }

  .header__wrap {
    position: absolute;
    left: -1000px;
    flex-direction: column;
    transition: left .4s ease-in-out;
    z-index: 10;
  }

  .header__wrap.active {
    display: flex;
    left: 37px;
    top: 300px;
  } 

  .header__wrap.active .header__btn {
    margin-right: 0;
    margin-bottom: 20px;
    color: var(--color-gray);
    background-image: none;
    background-color: var(--color-for-dark);
  }

  .header__btn.focus-visible::before {
    border-color: var(--color-gray);
  }

  .header__login {
    padding-left: 24px;
    background-position: left 2px center;
  }

  .header__wrap.active .header__login:hover {
    color: var(--color-for-dark);
  }

  .header__login.focus-visible {
    color: var(--color-for-dark);
  }

  .header__login.focus-visible::after {
    right: 0;
    left: -3px;
  }

  .hero__container {
    padding-top: 100px;
  }

  .hero__play {
    font-size: 10px;
    line-height: 16px;
  }

  .hero__play svg {
    width: 42px;
    height: 42px;
  } 

  .hero__wrap {
    margin-bottom: 230px;
  }

  .hero__title {
    font-size: 36px;
    line-height: 51px;
    text-align: center;
  }

  .hero__wrap-btn {
    position: absolute;
    top: 210%;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .about__container {
    padding-top: 50px;
    flex-direction: column;
  }

  .about__img {
    margin-bottom: 20px;
    max-width: none;
    width: 100%;
  }

  .about__wrap {
    max-width: 100%;
  }

  .about__list {
    margin-bottom: 35px;
  }

  .featured__wrap {
    display: flex;
    flex-direction: column;
  }

  .featured__wrap_btn {
    align-self: flex-start;
  }

  .featured__item {
    flex-direction: column;
  }

  .featured__img {
    width: 100%;
  }

  .featured__box {
    width: 100%;
  }

  .benefits__list {
    flex-direction: column;
  }

  .benefits__box {
    flex-direction: column;
    justify-content: center;
  }

  .benefits__img {
    max-width: 100%;
  }

  .benefits__info {
    align-items: center;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .benefits__text {
    text-align: center;
  }

  .lectures__item {
    flex-direction: column;
  }

  .lectures__date {
    display: block;
    margin-bottom: 10px;
  }

  .lectures__wrap {
    margin-bottom: 15px;
    text-align: center;
  }

  .lectures__box {
    margin-bottom: 20px;
    max-width: 100%;
    text-align: center;
  }

  .lectures__want {
    margin-right: 0;
  }

  .sertificate__container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
  } 

  .sertificate__wrap {
    margin-bottom: 30px;
    max-width: 100%;
  }

  .sertificate__picture {
    position: unset;
    width: 100%;
  }

  .sertificate__item {
    width: 33%;
  }

  .sertificate__img {
    width: 90%;
  }

  .team__wrap {
    flex-direction: column;
  }

  .team__info {
    margin-bottom: 25px;
  }

  .team__title {
    margin-bottom: 0;
  }

  .say__swiper {
    max-width: 100%;
} 

  .say__swiper .swiper-slide {
    padding: 15px 20px;
    padding-bottom: 90px;
  } 

  .say__img {
    margin-right: 10px;
    width: 13px;
    height: 9px;
  }

  .say .swiper-button-prev {
    display: none;
  } 

  .say .swiper-button-next {
    display: none;
  }

  .posts__container {
    padding-bottom: 45px;
  }

  .posts__img {
    width: 100%;
  }

  .posts__view {
    left: 15px;
  }

  .subscribe__input {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .footer__container {
    padding-top: 40px;
    padding-bottom: 45px;
  } 

  .footer__list {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .footer__info_container {
    flex-direction: column;
  }

  .footer__wrap {
    margin-bottom: 20px;
  }

  /* ----page2----- */
  .online__list {
    justify-content: center;
  }

  .online__item {
    width: 100%;
  }

  .page2-sertificate__container {
    padding-top: 63px;
    padding-bottom: 63px;
  }

  .online__item:nth-child(2n+1) {
    margin-right: 0;
  }

  .discount__btn {
    width: 100%;
  }

  .for-whom__list {
    padding-top: 0;
  }

  .course-program__container {
    flex-direction: column;
  }

  .course-program__left {
    width: 100%;
  }

  .course-program__img {
    width: 100%;
  }

  .course-registration__container {
    flex-direction: column;
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .course-registration__img {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }

  .check-courses__container .featured__list {
    justify-content: unset;
  }

  .check-courses__swiper {
    margin-bottom: 40px;
  }

  .check-courses__question {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .events__wrap_btns {
    display: none;
  }

  .events__choice_list {
    flex-direction: column;
  }

  .events__choice_item {
    max-width: 100%;
  }

  .events__choice_item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .events__select, 
  .events__option {
    max-width: 100%;
  }

}