@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
       url('../fonts/lato-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-medium-webfont.woff2') format('woff2'),
       url('../fonts/lato-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-bold-webfont.woff2') format('woff2'),
       url('../fonts/lato-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'lato';
  src: url('../fonts/lato-black-webfont.woff2') format('woff2'),
       url('../fonts/lato-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0 auto;
  font-family: 'lato', sans-serif;
  font-style: normal;
  overflow-y: auto;
}

:root {
  --color-for-dark: #FFFFFF;
  --color-gray: #424551;
  --color-light-gray: #787A80;
  --color-dark: #1E212C;
  --color-title: #FF4242;  
  --color-orange: #FF3F3A;
  --color-yellow: #FFCF2D;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-style: normal;
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  background: none;
  border: 2px solid transparent;
}

button:hover {
  cursor: pointer;
}

.container {
  padding: 60px 15px;
  margin: 0 auto;
  max-width: 1260px;
}

.title {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 46px;
  line-height: 60px;
  color: var(--color-dark);
}

.subtitle {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-dark);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 0 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 52px;
  color: var(--color-for-dark);
  border: 1px solid transparent;
  border-radius: 4px;
  letter-spacing: 0.5px;
  transition: color .4s ease-in-out, border-color .4s ease-in-out, background-color .4s ease-in-out, background-image .4s ease-in-out;
}

.btn.focus-visible::after {
  content: '';
  position: absolute;
  top: -6px;
  right: -5px;
  bottom: -4px;
  left: -5px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-color {
  position: relative;
  background-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);;
  transition: opacity .4s ease-in-out, color .4s ease-in-out;
}

.btn-color:hover {
  color:  var(--color-title);
  background-image: none;
}

.btn-color::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color:  var(--color-title);
  border: 1px solid var(--color-title);
  border-radius: 4px;
  background-image: transparent;
  transition: opacity .4s ease-in-out;
  opacity: 0;
}

.btn-color:hover:before {
  opacity: 1;
}

.btn-color.focus-visible {
  border: 2px solid var(--color-dark);
}

.btn-uncolor {
  border-color: var(--color-title);
  color: var(--color-title);
}

.btn-uncolor:hover {
  border-color: transparent;
  color: var(--color-for-dark);
  background-color:  var(--color-orange);
}

.btn-uncolor.focus-visible {
  border-color: var(--color-dark);
}

.btn__scroll {
  display: none;
  padding: 10px;
  font-size: 20px;
  color: var(--color-for-dark);
  background-color: var(--color-title);
  border-radius: 50px;
  text-decoration: none;
  z-index: 1000;
}

.header__burger {
  display: none;
  opacity: 0;
  transition: display .4s ease-in-out, opacity .4s ease-in-out;
}

/* ----------header----------  */

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 3;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.header__link-logo {
  position: relative;
}

.header__link-logo.focus-visible::after {
  content: '';
  position: absolute;
  top: -6px;
  right: -5px;
  bottom: -4px;
  left: -5px;
  border: 1px solid var(--color-dark);
  border-radius: 4px;
}

.header__list {
  display: flex;
  align-items: center;
}

/* .header__item {
  position: relative;
} */

.header__item:not(:last-child) {
  margin-right: 40px;
}

.header__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-gray);
  transition: color .4s ease-in-out;
}

.header__link:hover {
  color: var(--color-title);
}

.header__link.focus-visible::after {
  content: '';
  position: absolute;
  top: -2px;
  right: -4px;
  bottom: -2px;
  left: -3px;
  border: 1px solid var(--color-dark);
  border-radius: 4px;
}

.header__wrap {
  display: flex;
}

.header__btn {
  margin-right: 36px;
}

.header__login {
  padding-left: 28px;
  height: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
  background-image: url('../images/icons/user.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 17px 18px;
  transition: color .4s ease-in-out;
}

.header__login:hover {
  color: var(--color-title);
}

.header__login.focus-visible::after {
  content: '';
  position: absolute;
  top: 0;
  right: 22px;
  bottom: 0;
  left: -6px;
  border: 1px solid var(--color-dark);
  border-radius: 4px;
}


/* ---------hero-------- */
.hero {
  height: 1080px;
  background-image: url('../images/hero_shapes.png'), url('../images/bg-color.png') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__container {
  padding-top: 200px;
}

.hero__wrap {
  display: flex;
  margin-bottom: 189px;
}

.hero__left {
  margin-right: 170px;
  max-width: 60%;
}

.hero__play {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.hero__title {
  margin-bottom: 60px;
  max-width: 500px;
  font-weight: 900;
  font-size: 64px;
  line-height: 83px;
  letter-spacing: 1px;
  color: var(--color-dark);
}

.hero__list {
  display: flex;
}

.hero__item:not(:last-child) {
  position: relative;
  margin-right: 140px;
}

.hero__item:not(:last-child)::before {
  content: '';
  position: absolute;
  top: 47%;
  right: -66px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-orange);
}

.hero__span {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 46px;
  line-height: 60px;
  color: var(--color-dark);
}

.hero__text {
  padding-left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

/* --------about--------- */

.about {
  height: 100%;
  background-image: url('../images/about/about_back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about__container {
  display: flex;
  justify-content: space-between;
  padding-top: 180px;
  padding-bottom: 90px;
}

.about__img {
  width: 100%;
  max-width: 57%;
  height: 560px;
}

.about__wrap {
  max-width: 42%;
  width: 33%;
}

.about__list {
  margin-bottom: 48px;
}

.about__item {
  padding-left: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
  background-image: url('../images/about/check.svg');
  background-position: left top 5px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}

.about__item:not(:last-child) {
  margin-bottom: 12px;
}

/* ---------featured--------- */
.featured__container {
  padding-top: 90px;
  padding-bottom: 60px;
}

.featured__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.featured__title {
  margin-bottom: 0;
}

.featured__wrap_btn {
  align-self: flex-end;
}

.featured__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.featured__item {
  display: flex;
  margin-bottom: 30px;
  max-width: 600px;
  width: 50%;
  border: 1px solid #E5E8ED;
  border-radius: 5px;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: box-shadow .4s ease-in-out;
}

.featured__item:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.featured__box {
  padding: 32px;
}

.featured__direct {
  display: inline-block;
  margin-bottom: 20px;
  padding: 1px 8px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-for-dark);
  border-radius: 4px
}

.marketing {
  background-color: #03CEA4;
}

.managment {
  background-color: #5A87FC;
}

.hr {
  background-color: #F89828;
}

.design {
  background-color: #F52F6E;
}

.featured__name {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-dark);
}

.featured__price {
  position: relative;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-title);
}

.featured__price::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 50px;
  width: 1px;
  height: 16px;
  background-color: var(--color-light-gray);
}

.featured__teacher {
  padding-left: 16px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--color-light-gray);
}

/* ------benefits------- */
.benefits__container {
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
}

.benefits__title {
  margin-bottom: 60px;
}

.benefits__list {
  display: flex;
  margin-bottom: 60px;
}

.benefits__btn {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 307px;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #9A9CA5;
  border: 1px solid transparent;
  border-radius: 4px;
}

.benefits__btn.active {
  color: var(--color-orange);
  border-color: var(--color-orange);
}

.benefits__btn svg path{
  fill:  #9A9CA5;
}

.benefits__btn.active svg path {
  fill: var(--color-orange);
}

.js-tab-content {
  display: none;
}

.js-tab-content.active {
  display: block;
}

.benefits__box {
  display: flex;
  justify-content: space-between;
}

.benefits__info {
  padding-top: 119px;
  padding-bottom: 119px;
  max-width: 494px;
  text-align: left;
}

.benefits__content_title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 42px;
  color: var(--color-dark);
}

.benefits__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
}

.benefits__img {
  max-width: 49%;
  width: 100%;
}

/* -----lectures----- */
.lectures {
  background-image: url('../images/lectures_back.png'), url('../images/bg-color.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lectures__container {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.lectures__list {
  margin-bottom: 60px;
}

.lectures__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px 34px 40px;
  background-color: var(--color-for-dark);
  border-radius: 4px;
  transition: box-shadow .4s ease-in-out;
}

/* .lectures__btn:hover .lectures__item {
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
} */

.lectures__item:hover {
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.lectures__item:hover .lectures__btn {
  border-color: transparent;
  color: var(--color-for-dark);
  background-color:  var(--color-orange);
}

.lectures__item:not(:last-child) {
  margin-bottom: 24px;
}

.lectures__date {
  font-weight: 900;
  font-size: 48px;
  line-height: 62px;
  letter-spacing: 1px;
  color: var(--color-orange);
}

.lectures__wrap {
  text-align: left;
}

.lectures__month {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-dark);
}

.lectures__time {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-light-gray);
}

.lectures__box {
  width: 100%;
  max-width: 758px;
  text-align: left;
}

.lectures__info {
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-dark);
}

.lectures__online {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-light-gray);
}

.lectures__btn {
  padding: 0 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 44px;
  letter-spacing: 0.5px;
}

.lectures__want {
  margin-right: 40px;
}

.lectures__more {
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  color: var(--color-dark);
}

/* ---------sertificate------- */
.sertificate__container {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}

.sertificate__wrap {
  max-width: 32%;
  width: 100%;
}

.sertificate__title {
  margin-bottom: 48px;
}

.sertificate__text {
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
}

.sertificate__list {
  display: flex;
}

.sertificate__item:not(:last-child) {
  margin-right: 40px;
}

.sertificate__picture {
  position: absolute;
  top: 120px;
  right: -46px;
}


/* ---------team-------- */
.team {
  height: auto;
  background-image: url('../images/team/team_back.png');
}

.team__container {
  padding-top: 166px;
  padding-bottom: 90px;
}

.team__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.team__title {
  margin-bottom: 0;
}

.team__btn {
  display: flex;
  align-self: flex-end;
  width: auto;
  height: auto;
}

.team__container .swiper-slide {
  max-width: 285px;
  width: 100%;
}

.swiper-button-next:after, 
.swiper-button-prev:after {
  content: '';
}

.team__container .swiper-button-prev {
  position: unset;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-image: url('../images/icons/arrow_left_black.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .4s ease-in-out, background-color .4s ease-in-out;
}

.team__container .swiper-button-prev:hover {
  background-image: url('../images/icons/arrow_left_white.svg');
  background-color: var(--color-orange);
}

.team__container .swiper-button-prev.focus-visible {
  background-image: url('../images/icons/arrow_left_white.svg');
  background-color: var(--color-orange);
}

.team__container .swiper-button-next {
  position: unset;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-image: url('../images/icons/arrow_right_black.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .4s ease-in-out, background-color .4s ease-in-out;
}

.team__container .swiper-button-next:hover {
  background-image: url('../images/icons/arrow_right_white.svg');
  background-color: var(--color-orange);
}

.team__container .swiper-button-next.focus-visible {
  background-image: url('../images/icons/arrow_right_white.svg');
  background-color: var(--color-orange);
}

.team__info {
  position: relative;
  margin-bottom: 16px;
  border-radius: 4px;
}

.team__social {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  border-radius: 4px;
}

.team__social.show {
  display: flex;
  cursor: pointer;
}

.team__item:not(:last-child) {
  margin-right: 12px;
}

.team__img {
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.team__link {
  opacity: 0.6;
  transition: opacity .4s ease-in-out;
}

.team__link:hover {
  opacity: 1;
}

.team__name {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--color-gray);
}

.team__position {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--color-light-gray);
}

/* ------say-------- */
.say__container {
  padding-top: 90px;
  padding-bottom: 100px;
  text-align: center;
}

.say__title {
  margin-bottom: 60px;
}

.say__container_swiper {
  position: relative;
}

.say__swiper {
  box-sizing: border-box;
  max-width: 83%;
}

.say__swiper .swiper-wrapper {
  width: 1020px;
}

.say__swiper .swiper-slide {
  box-sizing: border-box;
  display: flex;
  padding: 64px 105px;
  padding-bottom: 145px;
  width: 1020px;
  width: 100%;
  max-width: 1020px;
  height: auto;
  border-radius: 4px;
  background-color: var(--color-for-dark);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.say .swiper-button-prev {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-image: url('../images/icons/arrow_left_black.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .4s ease-in-out, background-color .4s ease-in-out;
}

.say .swiper-button-prev:hover {
  background-image: url('../images/icons/arrow_left_white.svg');
  background-color: var(--color-orange);
}

.say .swiper-button-prev.focus-visible {
  background-image: url('../images/icons/arrow_left_white.svg');
  background-color: var(--color-orange);
}

.say .swiper-button-next {
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-image: url('../images/icons/arrow_right_black.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image .4s ease-in-out, background-color .4s ease-in-out;
}

.say .swiper-button-next:hover {
  background-image: url('../images/icons/arrow_right_white.svg');
  background-color: var(--color-orange);
}

.say .swiper-button-next.focus-visible {
  background-image: url('../images/icons/arrow_right_white.svg');
  background-color: var(--color-orange);
}

.say__swiper .swiper-pagination-bullet {
  bottom: 20px;
  width: 30px;
  height: 1px;
  border-radius: 0;
  background-color: #B3B7BC;
}

.say__swiper .swiper-pagination-bullet-active {
  bottom: 20px;
  width: 30px;
  height: 1px;
  border-radius: 0;
  background-color: var(--color-gray);
  z-index: 1000;
}

.say__img {
  margin-right: 30px;
  width: 28px;
  height: 20px;
}

.say__wrap {
  object-fit: contain;
}

.say__text {
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-gray);
  text-align: left;
}

.say__box {
  position: absolute;
  bottom: 64px;
  display: flex;
}

.say__box_img {
  margin-right: 20px;
}

.say__name {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-dark);
  text-align: left;
}

.say__position {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-light-gray);
  text-align: left;
}

/* -------posts------ */
.posts__container {
  padding-top: 120px;
  padding-bottom: 180px;
}

.posts__list {
  display: flex;
  justify-content: space-between;
}

.posts__item {
  position: relative;
  max-width: 390px;
}

.posts__item:not(:last-child) {
  margin-right: 30px;
}

.posts__img {
  margin-bottom: 16px;
}

.posts__view {
  position: absolute;
  top: 12px;
  left: 12px;
  padding: 1px 8px;
  padding-left: 28px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-gray);
  border-radius: 4px;
  background-color: var(--color-for-dark);
  background-position: left 8px center;
  background-repeat: no-repeat;
}

.podcast {
  background-image: url('../images/icons/podcast.svg');
}

.video {
  background-image: url('../images/icons/video.svg');
}

.article {
  background-image: url('../images/icons/article.svg');
}

.posts__wrap_list {
  display: flex;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: var(--color-light-gray);
}

.posts__more {
  position: relative;
}

.date {
  padding-left: 24px;
  font-weight: normal;
  background-image: url('../images/icons/Calendar.svg');
  background-position: left;
  background-repeat: no-repeat;
}

.time {
  padding-left: 24px;
  font-weight: normal;
  background-image: url('../images/icons/Clock.svg');
  background-position: left;
  background-repeat: no-repeat;
}

.posts__more:not(:last-child) {
  margin-right: 24px;
}

.posts__more:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 4px;
  right: -12px;
  width: 1px;
  height: 12px;
  background-color: var(--color-light-gray);
}

.posts__list_title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: var(--color-dark);
}

.posts__text {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-gray);
}

.posts__link {
  padding-right: 32px;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-dark);
  background-image: url('../images/icons/arrow_right_title_color.svg');
  background-position: right;
  background-repeat: no-repeat;
  transition: color .4s ease-in-out;
}

.posts__link:hover {
  color: var(--color-orange);
}

.posts__link.focus-visible {
  color: var(--color-orange);
}

.posts__link.focus-visible::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -6px;
  width: 95px;
  height: 30px;
  border: 1px solid var(--color-dark);
  border-radius: 4px;
}

/* -------subscribe---------- */

.subscribe {
  background-image: url('../images/subscribe_back.png'), url('../images/bg-color.png');
  background-position: bottom center, center center;
  background-repeat: no-repeat;
  background-size: auto, cover;
}

.subscribe__container {
  padding-top: 120px;
  padding-bottom: 180px;
  text-align: center;
  max-width: 810px;
}

.subscribe__title {
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
}

.subscribe__input {
  margin-right: 24px;
  padding: 14px 16px;
  max-width: 422px;
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  background-color: var(--color-for-dark);
}

.subscribe__input::placeholder {
  color: #9A9CA5;
}

.subscribe__input.focus-visible {
  border-color: var(--color-orange);
}

/* -----footer----- */
.footer {
  background-color: var(--color-dark);
}

.footer__container {
  padding-top: 80px;
  padding-bottom: 60px;
}

.footer__list {
  display: flex;
  object-fit: contain;
}

.footer__item {
  max-width: 286px;
}

.footer__item:first-child {
  max-width: 279px;
}

.footer__title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-for-dark);
}

.footer__item:not(:last-child) {
  margin-right: 79px;
}

.footer__link_logo {
  position: relative;
  display: block;
  margin-bottom: 24px;
}

.footer__link_logo.focus-visible::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: -6px;
  width: 145px;
  height: 40px;
  border: 1px solid var(--color-for-dark);
  border-radius: 4px;
}

.footer__text {
  margin-bottom: 38px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-for-dark);
  opacity: 0.6;
}

.footer__social {
  display: flex;
}

.social-list__item:not(:last-child) {
  margin-right: 20px;
}

.social-list__link {
  opacity: 0.6;
  transition: opacity .4s ease-in-out;
}

.social-list__link:hover {
  opacity: 1;
}

.social-list__link.focus-visible {
  opacity: 1;
}

.footer__nav_item:not(:last-child) {
  margin-bottom: 8px;
}

.footer__nav_link {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-for-dark);
  opacity: 0.6;
  transition: opacity .4s ease-in-out;
}

.footer__nav_link:hover {
  opacity: 1;
}

.footer__nav_link.focus-visible {
  opacity: 1;
}

.footer__contact {
  display: block;
  padding-left: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-for-dark);
  background-position: left;
  background-repeat: no-repeat;
  opacity: 0.6;
  transition: opacity .4s ease-in-out;
}

.phone {
  margin-bottom: 8px;
  background-image: url('../images/icons/iPhone.svg');
}

.mail {
  background-image: url('../images/icons/Mail.svg');
}

.footer__contact:hover {
  opacity: 1;
}

.footer__contact.focus-visible {
  opacity: 1;
}

.footer__item:last-child .footer__title {
  margin-bottom: 24px;
}

.footer__input {
  margin-bottom: 12px;
  padding: 9px 12px;
  padding-bottom: 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.footer__input::placeholder {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-for-dark);
  opacity: 0.6;
}

.footer__more {
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: var(--color-for-dark);
}



/* -------------media---------------- */

@media (max-width: 1366px) {
  .swiper {
    height: auto;
  }

  .swiper-slide {
    height: auto;
  }

  .hero__container {
    height: auto;
  }

  .one {
    margin-left: 0;
  }

  .exclusive__container {
    padding-top: 79px;
    padding-bottom: 136px;
  }

  .exclusive__container {
    padding-top: 55px;
    padding-bottom: 139px;
  }
  
  .design__container {
    padding-top: 97px;
    padding-bottom: 142px;
  }

  .hero2 {
    background-size: cover;
  }

  .hero2-container {
    padding-top: 80px;
    padding-bottom: 150px;
  }
}

@media (max-width: 1224px) {

  .exclusive__container {
    padding-top: 55px;
    padding-bottom: 73px;
  }

  .design__container {
    padding-top: 96px;
    padding-bottom: 90px;
  }

  .technical__item:not(:nth-child(3n)) {
    margin-right: 55px;
  }

  .technical__item {
    flex-basis: 250px;
  }
}

@media (max-width: 1024px) {
  .hero__container {
    padding-top: 160px;
  } 

  .swiper-slide {
    background-size: cover;
  }

  .best__item {
    width: 30%;
    max-width: 314px;
    flex-grow: unset;
  }

  .best__item:not(:last-child) {
    margin-right: 25px;
  }

  .best__box {
    padding-right: 16px;
    padding-left: 15px;
  } 

  .best__wrap {
    margin-left: -15px;
    width: calc(100% + 31px);
  }

  .one {
    margin-left: 0;
    margin-top: 0px;
    width: 100%;
    height: 100%;
  }

  .best__btn {
    margin-right: 0;
  }

  .exclusive {
    background-size: cover;
  }

  .swiper2 {
    margin-bottom: 38px;
  }

  .swiper2 .swiper-slide {
    flex-shrink: 0;
    width: auto;
  }

  .exclusive__container .swiper-button-prev {
    top: 20%;
    left: 13%;
  }

  .exclusive__container .swiper-button-next {
    top: 20%;
    right: 12%;
  } 

  .swiper2 .best__item {
    width: 100%;
    max-width: 320px;
  }

  .swiper-slide .best__wrap {
    margin-left: -15px;
    padding-top: 0;
    width: calc(100% + 31px);
    height: 160px;
  }


  .best__desc {
    font-size: 20px;
    line-height: 24px;
    color: var(--color-text);
  }

  .design {
    background-size: cover;
  }

  .about__img-list {
    max-width: 50%;
    max-height: 50%;
  }

  .technical__list {
    margin-bottom: 60px;
    justify-content: space-between;
  }

  .technical__item {
    flex-basis: 245px;
    margin-bottom: 20px;
  }

  .technical__item:not(:nth-child(3n)) {
    margin-right: 64px;
  }


  .technical__item:not(:nth-child(3n)) {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  body.stop-scrolling {
    height: 100%;
    overflow-y: hidden;
  }

  .header__nav {
    position: absolute;
    left: -1000px;
    transition: left .4s ease-in-out;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    height: 30px;
    opacity: 1;
    z-index: 10;
  }

  .menu {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--color-for-dark);
    transition: transform .4s ease-in-out;
  }

  .menu2 {
    width: 20px;
  }

  .menu3 {
    width: 10px;
  }

  .menu:not(:last-child) {
    margin-bottom: 5px;
  }

  .header-burger.active .menu1 {
    width: 25px;
    margin-bottom: 0;
    transform: rotate(-45deg) translate(-8px, -2px);
  }

  .header-burger.active .menu2 {
    transform: scale(0);
  }

  .header-burger.active .menu3 {
    width: 25px;
    margin-bottom: 0;
    transform: rotate(45deg) translate(-8px, 2px);
  }

  .header__nav.active {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    padding: 40px;
    padding-top: 75px;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
    z-index: 5;
    opacity: 1;
  }

  .header__nav .header__list {
    flex-direction: column;
  }

  .header__list {
    align-items: flex-start;
  }

  .header__link {
    padding-left: 0;
  }

  .header__item:last-child {
    order: -1;
  }

  .header__item:not(:last-child) {
    margin-right: 0;
  }

  .header__item {
    margin-bottom: 20px;
  }

  .drop__list {
    border: 1px solid var(--color-for-dark);
    border-radius: 4px;
  }

  .drop__list.show {
    top: 0;
    left: 110%;
  }

  .swiper-button-prev, 
  .swiper-button-next {
    width: 20px;
    height: 20px;
    background-size: contain;
  }

  .swiper-button-prev {
    left: 4%;
  }

  .swiper-button-next {
    right: 4%;
  }

  .hero__wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero__wrap .btn {
    display: block;
    margin-right: 0;
  }

  .hero__wrap .btn:first-child {
    margin-bottom: 10px;
    padding: 9px 27px;
  }

  .best__container {
    padding-bottom: 100px;
  }

  .best__list {
    flex-direction: column;
    align-items: center;
  }

  .best__item {
    width: 100%;
  }


  .best__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .swiper-slide .best__wrap {
    margin-bottom: 10px;
    height: auto;
  } 

  .best__box {
    padding-bottom: 100px;
  }

  .best__btn {
    padding: 7px 19px;
    
  }

  .best__desc {
    font-size: 18px;
    line-height: 20px;
  }

  .swiper-slide .best__box {
    padding-bottom: 80px;
  }

  .swiper-slide .best__subtitle {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
  }

  .swiper-slide .best__desc {
    font-size: 12px;
    line-height: 18px;
  }

  .swiper-slide .best__btn {
    bottom: 15px;
    padding: 6px 19px;
    font-size: 12px;
  }

  .design__title {
    font-size: 44px;
  }

  .design__text {
    max-width: 500px;
    font-size: 20px;
    line-height: 26px;
  }

  .design__btn {
    padding-top: 14px;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
  }

  .hero2-container {
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .about__container {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .about__title {
    margin-bottom: 100px;
  }

}

@media (max-width: 575px) {
  .hero__container {
    justify-content: center;
    padding-top: 200px;
  }

  .swiper-slide__wrap {
    width: 100%;
    text-align: center;
  }

  .hero__subtitle {
    margin-bottom: 50px;
  }

  .hero__wrap {
    flex-direction: row;
    justify-content: center;
  }

  .hero__wrap .btn:first-child {
    margin-right: 10px;
    margin-bottom: 0;
    padding: 9px 17px;
  }

  .best__container {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
  }

  .best__logo svg {
    width: 43px;
    height: 44px;
  }

  .best__title {
    font-size: 44px;
  }

  .best__text {
    margin-bottom: 32px;
    font-size: 32px;
  }

  .best__list {
    justify-content: center;
  }

  .one {
    margin-left: 1px;
  }
  
  .exclusive__title {
    margin-bottom: 20px;
    font-size: 27px;
    line-height: 36px;
  }

  .swiper2 {
    padding-top: 29px;
  }
  
  .swiper2 .swiper-slide {
    flex-shrink: 0; 
    width: auto;
  }

  .design__title {
    font-size: 42px;
  }

  .design__btn {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
  }

  .design__btn:first-child {
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .design__btn:last-child {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9px;
  }

  .hero2-container {
    padding-top: 110px;
    padding-bottom: 70px;
  }

  .hero2__subtitle {
    margin-bottom: 100px;
  }

  .about__title {
    margin-bottom: 70px;
  }

  .about__wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }

  .about__wrap .hero__btn-gray {
    margin-right: 0;
    margin-bottom: 0;
  }

  .about__wrap .hero__btn-green {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .about__img {
    margin-bottom: 50px;
  }

  .about__list {
    margin-bottom: 50px;
  }

  .about__item {
    flex-direction: column;
    align-items: center;
  }

  .about__item:first-child {
    margin-bottom: 50px;
  }

  .about__box {
    width: 100%;
  }

  .about__box:last-child {
    order: -1;
  }

  .about__subtitle {
    margin-bottom: 20px;
    max-width: 100%;
  }

  .technical__item {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .technical .hero__btn-gray {
    margin-bottom: 15px;
  }

  .technical .hero__btn-green {
    margin-bottom: 0;
  }

}

@media (max-width: 320px) {
  .one {
    margin-left: 0;
    margin-top: 0;
    width: 288px;
  }

  .best__container {
    padding-bottom: 50px;
  }

  .best__btn {
    padding: 7px 17px;
  }

  .swiper-slide .best__wrap {
    margin-bottom: 10px;
    padding-top: 16px;
    height: auto;
  }

  .swiper2 .swiper-slide {
    width: 99%;
  }

  .swiper-slide .one {
    margin-top: -16px;
  }

  .design__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer__title {
    margin-bottom: 20px;
    font-size: 16px;
  }

  .footer__item:not(:last-child) {
    margin-bottom: 20px;
  } 

  .footer__link {
    font-size: 12px;
  }

  .social .footer__item:not(:last-child) {
    margin-right: 15px;
  }

  .footer__span {
    font-size: 14px;
  }
}
