<div class="container blog-subsc__container">
  <img class="miss-events__img" src="images/blog/subsc_illustration.png" alt="" aria-hidden="true">
  <div class="miss-events__wrap">
    <h2 class="miss-events__title">Want to get the best articles weekly? Subscribe to our newsletter!</h2>
    <form class="miss-events__form">
      <label class="miss-events__label">
        <input class="miss-events__input" type="text" placeholder="Your working email">
        <button class="btn btn-color miss-events__btn">Subscribe</button>
      </label>
      <label class="miss-events__checkbox" for="check-agree">
        <input class="miss-events__check" id="check-agree" type="checkbox" value="yes">
        <span class="miss-events__check_text">I agree to receive communications from Createx Online School</span>
      </label>
    </form>
  </div>
</div>