<div class="container posts__container">
  <div class="featured__wrap">
    <div class="featured__wrap_title">
      <span class="featured__subtitle subtitle">Our blog</span>
      <h2 class="featured__title title">Latest posts</h2>         
    </div>
    <div class="featured__wrap_btn">
      <a class="featured__btn btn btn-color" href="blog.html">Go to blog</a>
    </div>
  </div>
  <ul class="posts__list">
    <li class="posts__item">
      <img class="posts__img" src="images/posts/post1.jpg" alt="picture1">
      <span class="posts__view podcast">Podcast</span>
      <ul class="posts__wrap_list">
        <li class="posts__more direct ">Marketing</li>
        <li class="posts__more date">September 4, 2020</li>
        <li class="posts__more time">36 min</li>
      </ul>
      <h3 class="posts__list_title">What is traffic arbitrage and does it really make money?</h3>
      <p class="posts__text">Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus gravida...</p>
      <a class="posts__link" href="blog-info.html">Listen</a>
    </li>
    <li class="posts__item">
      <img class="posts__img" src="images/posts/post2.jpg" alt="picture1">
      <span class="posts__view video">Video</span>
      <ul class="posts__wrap_list">
        <li class="posts__more direct ">Management</li>
        <li class="posts__more date">August 25, 2020</li>
        <li class="posts__more time">45 min</li>
      </ul>
      <h3 class="posts__list_title">What to do and who to talk to if you want to get feedback on the product</h3>
      <p class="posts__text">Neque a, senectus consectetur odio in aliquet nec eu. Ultricies ac nibh urna urna sagittis faucibus...</p>
      <a class="posts__link" href="blog-info.html">Watch</a>
    </li>
    <li class="posts__item">
      <img class="posts__img" src="images/posts/post3.jpg" alt="picture1">
      <span class="posts__view article">Article</span>
      <ul class="posts__wrap_list">
        <li class="posts__more direct ">Design</li>
        <li class="posts__more date">August 8, 2020</li>
      </ul>
      <h3 class="posts__list_title">Should you choose a creative profession if you are attracted to creativity?</h3>
      <p class="posts__text">Curabitur nisl tincidunt eros venenatis vestibulum ac placerat. Tortor, viverra sed vulputate ultrices...</p>
      <a class="posts__link" href="blog-info.html">Read</a>
    </li>
  </ul>
</div>