<div class="modal-content">
  <h2 class="modal__title">Get consultation</h2>
  <form class="modal__form">
    <div class="modal__box">
      <label class="modal__label">Your name</label>
      <input class="modal__input" type="text" placeholder="Your name">
    </div>
    <div class="modal__box">
      <label class="modal__label">Email</label>
      <input class="modal__input" type="text" placeholder="Your working email">
    </div>
    <button class="modal__btn btn btn-color">Get consultation</button>
  </form>
  <div class="menu__close">
    <span class="menu__close-span close1"></span>
    <span class="menu__close-span close2"></span>
  </div>
</div>