<div class="container header__container">
  <a class="btn__scroll" href="#">up ↑</a>
  <div class="header__burger header-burger">
    <span class="header-burger__menu menu menu1"></span>
    <span class="header-burger__menu menu menu2"></span>
    <span class="header-burger__menu menu menu3"></span>
  </div>
  <a class="header__link-logo" href="index.html">
    <img class="header__logo" src="images/icons/logo_black.svg" alt="logo of company">
  </a>
  <nav class="header__nav">
    <ul class="header__list">
      <li class="header__item">
        <a class="header__link" href="about-us.html">About Us</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="courses.html">Courses</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="events.html">Events</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="blog.html">Blog</a>
      </li>
      <li class="header__item">
        <a class="header__link" href="contacts.html">Contacts</a>
      </li>
    </ul>
  </nav>
  <div class="header__wrap">
    <button class="header__btn btn btn-color">Get consultation</button>
    <button class="header__login btn">Log in / Register</button>  
  </div>
  <div class="modal">
    @@include('modal.html')
  </div>
</div>