<div class="container sertificate__container page2-sertificate__container">
  <div class="sertificate__wrap">
    <span class="sertificate__subtitle subtitle">Createx Certificate</span>
    <h2 class="sertificate__title title">Your expertise will be confirmed</h2>
    <p class="sertificate__text">We are accredited by international professional organizations and institutes:</p>
    <ul class="sertificate__list">
      <li class="sertificate__item">
        <img class="sertificate__img" src="images/sertificate/del_mar.png" alt="del mar">
      </li>
      <li class="sertificate__item">
        <img class="sertificate__img" src="images/sertificate/sentinal.png" alt="del mar">
      </li>
      <li class="sertificate__item">
        <img class="sertificate__img" src="images/sertificate/national.png" alt="del mar">
      </li>
    </ul>
  </div>
  <img class="sertificate__picture" src="images/sertificate/certificate.png" alt="sertificate">
</div>