<div class="container about-course__container">
  <div class="talk__wrap">
    <h2 class="talk__title title">We will talk about:</h2>
    <ul class="course-program__list">
      <li class="course-program__item">
        <div class="course-program__icons show">
          <span class="course-program__icon icon-span1"></span>
          <span class="course-program__icon icon-span2"></span>
        </div>
        <div class="course-program__wrap">
          <button class="course-program__btn show"><span class="course-program__btn_span">Theme 1.</span>
            Aliquet lectus urna viverra in odio.
          </button>
          <div class="course-program__content show">
            <p class="course-program__text">
              Nulla amet, sagittis potenti rhoncus sit. Elit lectus nec pulvinar aliquet donec enim, ornare. Lacus facilisi curabitur turpis varius mauris. Nisi, tempus risus, odio mi suscipit sed. Curabitur faucibus porttitor quis sem lacus, arcu feugiat facilisis. Commodo nunc orci vitae accumsan id.
            </p>
          </div>
        </div>
      </li>
      <li class="course-program__item">
        <div class="course-program__icons">
          <span class="course-program__icon icon-span1"></span>
          <span class="course-program__icon icon-span2"></span>
        </div>
        <div class="course-program__wrap">
          <button class="course-program__btn">
            <span class="course-program__btn_span">Theme 2.</span>
            Orci commodo, viverra orci mollis ut euismod.
          </button>
          <div class="course-program__content">
            <p class="course-program__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit doloribus incidunt, cumque aspernatur ullam consectetur accusantium explicabo quidem eos perferendis? Amet exercitationem atque reiciendis id nisi? Dolorum, aliquid? Corporis, veniam?
            </p>
          </div>
        </div>
      </li>
      <li class="course-program__item">
        <div class="course-program__icons">
          <span class="course-program__icon icon-span1"></span>
          <span class="course-program__icon icon-span2"></span>
        </div>
        <div class="course-program__wrap">
          <button class="course-program__btn">
            <span class="course-program__btn_span">Theme 3.</span>
            Sagittis vitae facilisi rutrum amet mauris quisque vel.
          </button>
          <div class="course-program__content">
            <p class="course-program__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit doloribus incidunt, cumque aspernatur ullam consectetur accusantium explicabo quidem eos perferendis? Amet exercitationem atque reiciendis id nisi? Dolorum, aliquid? Corporis, veniam?
            </p>
          </div>
        </div>
      </li>
      <li class="course-program__item">
        <div class="course-program__icons">
          <span class="course-program__icon icon-span1"></span>
          <span class="course-program__icon icon-span2"></span>
        </div>
        <div class="course-program__wrap">
          <button class="course-program__btn">
            <span class="course-program__btn_span">Theme 4.</span>
            In id dolor quis nunc, urna hendrerit pharetra.
          </button>
          <div class="course-program__content">
            <p class="course-program__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit doloribus incidunt, cumque aspernatur ullam consectetur accusantium explicabo quidem eos perferendis? Amet exercitationem atque reiciendis id nisi? Dolorum, aliquid? Corporis, veniam?
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="about-course__right">
    <div class="about-course__info about-info">
      <ul class="about-info__list">
        <li class="about-info__item">
          <span class="about-info__name">Time</span>
          <span class="about-info__session">August 5, 11:00 – 14:00</span>
          <p class="about-info__text">Metus turpis sit lorem lacus, in elit tellus lacus.</p>
        </li>
        <li class="about-info__item">
          <span class="about-info__name">Price</span>
          <span class="about-info__session">Free</span>
          <p class="about-info__text">Nulla sem adipiscing adipiscing felis fringilla. Adipiscing mauris quam ac elit tristique dis.</p>
        </li>
        <li class="about-info__item">
          <a class="talk__link" href="#">Event on Facebook</a>
        </li>
      </ul>
      <button class="about-info__btn btn btn-color">Join the course</button>
    </div>
  </div>
</div>